<h2>Shouts</h2>

<%= form_for @shout do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "SHOUT!" %>
<% end %>

<h4>Follow some people</h4>
<ul>
  <% @users_i_do_not_follow.each do |user| %>
    <li>
      <%= user.email %>
      <%= button_to "Follow", [user, :following_relationship] %>
    </li>
  <% end %>
</ul>

<h4>People you're following</h4>
<ul>
  <% @users_i_follow.each do |user| %>
    <li>
      <%= user.email %>
    </li>
  <% end %>
</ul>

<h4>Your Feed</h4>
<ul>
  <% @shouts.each do |shout| %>
    <li><%= shout.body %></li>
  <% end %>
</ul>
